/*.form-signin {*/
    /*width: 100%;*/
    /*max-width: 330px;*/
    /*padding: 15px;*/
    /*margin: auto;*/
/*}*/
/*.form-signin .checkbox {*/
    /*font-weight: 400;*/
/*}*/
/*.form-signin .form-control {*/
    /*position: relative;*/
    /*box-sizing: border-box;*/
    /*height: auto;*/
    /*padding: 10px;*/
    /*font-size: 16px;*/
/*}*/
/*.form-signin .form-control:focus {*/
    /*z-index: 2;*/
/*}*/
/*.form-signin input[type="email"] {*/
    /*margin-bottom: -1px;*/
    /*border-bottom-right-radius: 0;*/
    /*border-bottom-left-radius: 0;*/
/*}*/
/*.form-signin input[type="password"] {*/
    /*margin-bottom: 10px;*/
    /*border-top-left-radius: 0;*/
    /*border-top-right-radius: 0;*/
/*}*/

.hideInput{
    background: transparent;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: 4px solid !important;
    font-weight: 200;
    color: black;
    padding-left: 0;
}

.table td {
    vertical-align: middle;
}
.messages {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    margin-left: 20px;
}